<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="css/bootstrap.min.css"
    />

    <title>Express Guestbook</title>
  </head>
  <body class="container">
    <h1>
      Express Guestbook
      <a href="/new-entry" class="btn btn-primary pull-right">
        Write in the guestbook
      </a>
    </h1>
