<%- include('header') -%>

<% if(entries.length) { %>

    <div class="row">
    <% entries.forEach(function(entry) { %>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"><%= entry.title %></h5>
                </div>
                <div class="card-body">
                  <p class="card-text"><%= entry.desc %></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><%= entry.published %></small>
                </div>
            </div>
        </div>
        
    <% }) %> 
    </div>

<% } else { %>

    No Entries <a href="/new-entry">Add one!</a>

<% } %> 

<%- include('footer') -%>
