<%- include('header') -%>

<h2>Write a new Entry</h2>

<form method="post" role="form">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" class="form-control" placeholder="Entery Title" required>
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <textarea class="form-control" name="desc" placeholder="write your entry Description" id="desc" required></textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="Post Entry" class="btn btn-primary">
  </div>
</form>

<%- include('footer') -%>
